main {
  min-height: calc(100vh - 194px);
  display: flex;
  flex-direction: column;
  background-color: #fff;
  color: #222;
}

.app {
  padding: 0;
  overflow: hidden;
  background-color: #222;
  margin: 0 auto;
  box-sizing: border-box;
}
